@import './options/mixin'
  
.catalog-main
  flex: 1 1 auto

.catalog-main__title
  width: 100%
  display: flex
  justify-content: space-between
  align-items: flex-start
  gap: 15px
  margin-bottom: 25px
  h2
    @include h2-title-mobile()
  

@media ( min-width: 800px )
  .catalog-main__title
    h2
      @include h2-title()
  

.catalog-main__body
  display: flex
  flex-direction: column
  gap: 8%
      
  .brend-search
    line-height: 1.5
    margin-bottom: 25px
    &__title
      font-weight: 500
      font-size: 16px
      color: $colorText
      margin-bottom: 15px
    &__row
      width: 238px
      margin-bottom: 15px
    &__item
      font-weight: 400
      font-size: 14px
      color: $colorTextGray
    &__text
      margin-left: 10px
    &__open-list
      font-weight: 500
      font-size: 12px
      color: $colorTextGray
      cursor: pointer
    
  .basket__fixed
    position: fixed
    bottom: 30px
    right: 10px
    padding: 20px
    transform: scale(.8)
    background-color: rgba(255, 255, 255, .5)
    border-radius: 50%

@media ( min-width: 800px )
  .catalog-main__body
    flex-direction: row
  